<nav class="navbar navbar-expand-lg sticky-top mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " routerLink="/addproduct"  *ngIf="servise.isLogedIn()==true">Add product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listproduct"  *ngIf="servise.isLogedIn()==true">List product</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark btn-lg me-2  "routerLink="/login" type="submit"*ngIf="servise.isLogedIn()==false">login</button>
          <button class="btn btn-outline-dark btn-lg" routerLink="/registre" type="submit"*ngIf="servise.isLogedIn()==false">Registre</button>
          <button class="btn btn-outline-dark btn-lg" (click)="servise.SignoutUser()" type="submit"*ngIf="servise.isLogedIn()==true" >log out</button>
          
        </form>
      </div>
</div>
  </nav>